@import 'node_modules/@cells-components/cells-sass/main';

:host {
  display: block;
  box-sizing: border-box;

}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.label {
  cursor: default;
}
